<settings>
    <setting propertyKey="@Properties.ftp" title="@Strings.SettingFtp" prompt="@Strings.SettingFtpPrompt">
        <settingConfig type="numeric" min="50" max="600" />
    </setting>
    <setting propertyKey="@Properties.layout" title="@Strings.SettingLayout" prompt="@Strings.SettingLayoutPrompt">
        <settingConfig type="alphaNumeric" maxLength="160" />
    </setting>
</settings>
